.App {

}
.App .container {
  width: 1000px;
  margin: auto;
}
.App table {
  width: 100%;
}
.App table tr td {
  border: 1px solid black;
  text-align: center;
}
.searchCity input {
  width: 300px;
}
.searchCity .listMatchingCities {
  width: 300px;
  max-height: 300px;
  border: 1px solid #ccc;
  background-color: #fff;
  overflow-y: auto;
  position: absolute;
  z-index: 2;
}
.searchCity .listMatchingCities .item {
  padding: 5px;
  cursor: pointer;
}
.searchCity .listMatchingCities .item:hover {
  background-color: #ddd;
}

.detailsCity {
  border: 1px solid #ccc;
}