@font-face {
  font-family: 'JosefinSans';
  src: url('./fonts/JosefinSans-VariableFont_wght.ttf');
}
.App {
  font-family: 'Roboto', sans-serif;
}
.App h1 {
  font-family: 'JosefinSans', sans-serif;
  margin: 5px;
}
.App h1 span:first-child{
  color: #2ac0cc;
}
.App h1 span:nth-child(2){
  font-size: 15px;
}
.App h1 span:last-child{
  color: #fabb3a;
}
.App .container {
  width: 1000px;
  margin: auto;
  margin-top: 100px;;
}
.App table {
  width: 100%;
  border: 1px solid #ddd;
}
.App table thead {
  background-color: #2ac0cc;
  color: #fff;
}
.App table tr:nth-child(2n){
  background-color: #EAF2F8;
}
.App table tr td {
  text-align: center;
  padding: 5px;
  border: none;
}
.App table tr td ul {
  margin: 0;
  padding: 0;
}
.App table tr td li {
  list-style: none;
}
.createAreaButton {
  margin: auto;
  display: block;
  margin-top: 30px;
  border: none;
  background-color: #fabb3a;
  border-radius: 10px;
  cursor: pointer;
}
.createAreaButton a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #fff;
}
.createAreaButton:hover {
  text-shadow: 2px 2px 4px #fff;
  transition: 0.3s;
}
.searchCity input {
  width: 300px;
}
.searchCity .listMatchingCities {
  width: 300px;
  max-height: 300px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  overflow-y: auto;
  position: absolute;
  z-index: 2;
}
.searchCity .listMatchingCities .item {
  padding: 5px;
  cursor: pointer;
}
.searchCity .listMatchingCities .item:hover {
  background-color: #ddd;
}

.detailsCity {
  border: 1px solid #ccc;
}
.createArea {
  padding-bottom: 75px;
  position: relative;
}
.createArea h3 {
  margin: 0;
  font-size: 30px;
}
.createArea ul {
  padding: 0;
  margin: 10px 0;
}
.createArea li {
  display: inline-block;
  position: relative;
  padding: 3px 30px;
  background-color: #2ac0cc;
  margin: 0 10px;
  color: #fff;
  border-radius: 50px;
}
.createArea li .close {
  opacity: 0;
  right: 10px;
  top: 6px;
  position: absolute;
}
.createArea li:hover .close {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}
.createArea .imagesGrid {
  line-height: 0;
}
.createArea .image {
  width: calc(20% - 4px);
  display: inline-block;
  cursor: grab;
  line-height: 0;
  margin: 2px;
}
.createArea .image:active {
  cursor: grabbing;
}
.createArea img {
  line-height: 0;
  width: 100%;
}
.createArea .cancelButton {
  position: absolute;
  left: 0px;
  bottom: 20px;
  background-color: #ccc;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.createArea .cancelButton:hover {
  background-color: #bbb;
  transition: 0.3s;
}
.createArea .saveButton {
  position: absolute;
  right: 0px;
  bottom: 20px;
  background-color: #fabb3a;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.createArea .saveButton:hover {
  background-color: #EEB339;
  transition: 0.3s;
}
.modalBackGround {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
}
.modalBackGround.active {
  display: block;
}
.modalBackGround .modal {
  position: absolute;
  display: block;
  width: 300px;
  top: calc(50% - 50px);
  left: calc(50% - 150px);
  text-align: center;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.containerForm {
  padding: 30px 0;
}
.containerForm p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.containerForm input {
  padding: 10px;
  width: 300px;
  border: #ccc solid 0.5px;
}
.containerForm input:focus {
  border: #2ac0cc solid 0.5px;
}
.containerForm textarea {
  padding: 10px;
  font-family: roboto;
  width: 600px;
  height: 200px;
  border: #ccc solid 0.5px;
}
.containerForm textarea:focus {
  border: #2ac0cc solid 0.5px;
}